* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.wrapper {
  background-color: rgb(233, 141, 141);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 640px;
  border: 2px solid black;
  border-radius: 20px;
}

.title {
  font-size: 2.5em;
  color: white;
}

.gamepad {
  background-color: white;
  display: grid;
  width: 500px;
  height: 500px;
  margin-bottom: 10px;
  z-index: 100;
}

.userControl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.userControl,
#resetChoice,
#colorChoice {
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
  color: black;
  font-weight: bolder;
}

input[type="range"] {
  width: 50%;
}
